body {
    background-color:#E0DFE0!important;
}



a:hover {
    color:white;
    background-color:rgb(44, 170, 190);
    text-decoration:underline;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width: 200px;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
}

#django {
    max-width: 50%;
    max-height: 50%
}

.img-projetos{
    border-radius: 150px;
    border-color: red;
}

.img-projetos{position:relative}
.img-projetos:hover{top:-2px;box-shadow:0 2px 2px rgb(44, 170, 190)}

.titulos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
}

.contet {
    max-width: 100%;
    max-height: auto;
}
.contetU {
    max-width: 100%;
    max-height: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

.linkProjetos {
    border-image: 100px;
    border-color: black;
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}

.social {
    width: 20px;
    height: 20px;
}

.cod {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

.codP {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

pre {
    display:block;
    height: 450px;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

h4 {
    text-align: center;
}
